@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
    html:not([data-scale]) .am-card-body::before {
        display: none !important
    }
}


@media screen and (min-width:769px) {
    @import "../air/audio.scss";

    .order_page {
        // background: #fff !important;
        color: #fff;
        top: 0 !important;
        padding: 0 70px;

        >div:nth-child(1) {
            display: none;
        }

        .am-tabs-default-bar-tab {
            font-size: 32px !important;
            height: 100px;
            zoom: 0.75;
        }

        .am-list-view-scrollview-content {
            top: -10px;
        }

        .am-tabs-default-bar-tab {
            color: rgba(255, 255, 255, .6) !important;

        }

        .am-tabs-default-bar-tab-active {
            color: #fff !important;
        }

        .separator {
            border: none !important;

        }

        >div,
        .am-navbar,
        .am-navbar-title,
        .am-tabs-default-bar,
        .am-list-body .container span,
        .am-list-view-scrollview .am-list-body .list-view-section-body div,
        .container .hotel_info_title div p {
            background: rgba(255, 255, 255, 0) !important;
            color: #fff !important;
            font-size: 30px !important;
        }


        .am-list-body .list-view-section-body .container .title {
            background: rgba(255, 255, 255, .1) !important;
            border-radius: 10px 10px 0px 0px;
            border: none;
        }

        .am-list-body .list-view-section-body .container>div {
            padding-left: 50px;
            padding-right: 50px;
            background: rgba(255, 255, 255, .05) !important;
            margin: 0;
            zoom: 0.75;

            // border-radius: 10px !important;
        }

        .am-list-body .list-view-section-body .container .bot {
            border-top: 1px solid rgba(255, 255, 255, .05) !important;
        }

        .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
            display: none !important;
            height: 0 !important;
        }

        .am-list-footer>div {
            font-size: 30px;
        }

        .am-tabs-default-bar-content,
        .am-tabs-default-bar {
            border: none !important;

        }

        // .audio_gray p {
        //     font-size: 16px !important;

        // }
    }

}