.city_picker {
    background: #fff;
    font-size: 20px !important;
    margin-top: 100px;
}

.search_dist {
    padding: 0 50px;
    font-size: 30px;
    color: #fff;

    .addr_body {
        list-style: none;
        max-height: -webkit-fill-available;
        overflow: scroll;

        >li {
            border-bottom: 1px solid rgba(255, 255, 255, .1);
        }

        img {
            width: 28px;
            height: 28px;
            font-size: 0;
            margin-right: 20px;
        }
    }
}

// 增加删除地址
.add_addr_wrap {
    .input_group {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 432px;
        overflow: scroll;
        flex-shrink: 0;

        .input_audio {
            margin-bottom: 40px;
            flex-shrink: 0;

        }

    }

    .confirm_btn {
        text-align: center;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        >div {
            margin-right: 20px;
        }
    }

    .tagList {
        margin: 20px 0;
    }
}

.address_list_wrap {
    padding: 0 50px;

    .address_list {
        height: 432px;
        overflow: scroll;
    }

    .disable {
        opacity: .3;
    }

    .disable_btn {
        visibility: hidden
    }

    .confirm_btn {
        text-align: center;
    }
}

@media screen and (min-width:769px) {
    .add_addr_wrap {
        padding: 0 50px;
    }

    .city_picker {
        background: #06163A !important;


        .am-picker-col-item {
            // font-size: 36px !important;
            // color: rgba(255, 255, 255, .33);
            // padding: 20px 0;
        }

        .am-picker-col-mask {
            // background: rgba(204, 0, 221, 1) !important;
            opacity: 0 !important;


        }

        .am-picker-col-indicator::before,
        .am-picker-col-indicator::after {
            content: none !important;
        }

        .am-picker-col-indicator::before {
            content: '' !important;
            background: url('../../assets/icon/audio/ic_takeout_addadd_chosecity_sign.png') no-repeat center !important;
            width: 18px !important;
            height: 24px !important;
            position: absolute;
            right: 0 !important;
            bottom: 0 !important;
        }


        .am-picker-col:nth-child(1) {
            .am-picker-col-indicator::before {
                content: none !important;

            }
        }

        .am-picker-col-item-selected {
            color: #fff !important;
        }
    }

}