.comments_wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0 auto;
  height: -webkit-fill-available;
  color: #fff;
  font-size: 30px;

  > div {
    color: #fff
  }

  .text_input {
    width: 1120px;
    height: 396px;
    background: rgba(27, 43, 76, 1);
    border: 2px solid rgba(112, 122, 143, 1);
    color: rgb(255, 255, 255);
    border-radius: 10px;
  }

  .am-textarea-control textarea {
    color: rgb(255, 255, 255);
  }
}


@media screen and (min-width: 769px) {

  .page {
    margin: 0 auto 0 auto;
    width: fit-content
  }

  .confirm_btn, .input_group div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .address_list_wrap {
    padding: 0 50px;

    .address_list {
      height: 432px;
      overflow: scroll;
    }

    .disable {
      opacity: .3;
    }

    .disable_btn {
      visibility: hidden
    }

    .confirm_btn {
      text-align: center;
    }
  }

  .index_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //align-items: center;
    box-sizing: border-box;
    padding-right: 80px;
    padding-left: 80px;
    flex-shrink: 0;
    //margin: 0 auto;
    // height: -webkit-fill-available;
    color: #fff;
    margin-bottom: 60px;
    font-size: 30px;
  }

  .index_list_wrap {
    padding-left: 33px;
    display: block;
    justify-content: flex-start;
    //align-items: center;
    box-sizing: border-box;
    padding-top: 39px;
    // padding-left: 34px;
    // padding-right: 34px;
    flex-shrink: 0;
    //margin: 0 auto;
    width: 672px;
    max-height: 572px;
    background: rgba(255, 255, 255, 0.1);
    //opacity:0.1;
    border-radius: 10px;
    font-size: 30px;
  }

  .split {
    //width: 1120px;
    height: 1px;
    margin: 6px 0 14px 0;
    background: rgba(255, 255, 255, 0.1);
  }

  .comments_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //align-items: center;
    box-sizing: border-box;
    // padding-right: 80px;
    // padding-left: 80px;
    flex-shrink: 0;
    margin: 0 auto 0 0;
    height: -webkit-fill-available;
    color: #fff;
    font-size: 30px;


    .text_input {
      width: 1120px;
      height: 396px;
      background: rgba(27, 43, 76, 1) !important;
      border: 2px solid rgba(112, 122, 143, 1) !important;
      color: rgb(255, 255, 255) !important;
      border-radius: 10px;
    }

    .am-textarea-control textarea {
      color: rgba(255, 255, 255, 1);
      font-size: 44px;
      line-height: 52px;
      opacity: 0.3;
    }

    .list-view-section-body {
      overflow: scroll;
    }

  }

  .price {
    //width:147px;
    height: 30px;
    font-size: 30px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  .delivery_price {
    //width:137px;
    margin-left: 30px;
    height: 27px;
    font-size: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 0.4;
  }

  .am-textarea-control {
    padding: 40px;
  }
  .confirm-btn {
    margin-top: 64px;
    margin-left: auto;
    width: 560px;
    margin-right: auto;
  }
  .confirm-wrap {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 375px;
    margin-right: 110px;
    margin-top: 80px;
    margin-left: 110px;
    display: grid
  }

  .confirm-wrap-div {
    display: inline-flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.4);
    font-size: 30px
  }
  .confirm-text {
    white-space: nowrap;
    line-height: 80px
  }
  .foodList-content {
    margin-top: 10px;
    opacity: 0.3;
    font-size: 28px;
    line-height: 45px
  }
  .foodList-item-1 {
    line-height: 99px;
    margin-left: auto
  }
  .foodList-item-2 {
    line-height: 99px;
    margin-left: 290px
  }
  .foodList-item-3 {
    line-height: 99px;
    margin-left: 55px
  }
  .index-ul {
    list-style: none;
    margin: 0px;
    height: 451px;
    overflow: scroll
  }
  .show-more {
    color: rgba(255, 255, 255, 0.6);
    margin: 29px auto 29px auto;
    display: table
  }
  .index-column-2 {
    max-height: 532px;
    margin: 0 auto;
    margin-left: 30px
  }
  .address-wrap {
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    display: inline-block;
    max-width: 300px
  }
  .index-text{
    line-height: 70px
  }
}